.rental-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
}

.rental-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-section {
    display: flex;
    margin: 10px 10px 50px 10px;
  }

  &-field {
    margin: 10px;
  }

  &-select {
    width: 300px;
  }
}
